.btn-lazers {
  border: 2px solid black;
  position: relative;
  overflow: hidden; }
  .btn-lazers::before {
    content: "";
    background-image: linear-gradient(to left, #15acd8, rgba(21, 172, 216, 0.2));
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 20%;
    width: 80%;
    opacity: 0; }
  .btn-lazers::after {
    content: "";
    background-image: linear-gradient(to left, #15acd8, rgba(21, 172, 216, 0.2));
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20%;
    width: 80%;
    opacity: 0; }
  .btn-lazers #bg {
    position: absolute;
    z-index: -1;
    background: #2f3136;
    opacity: 0;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    transition: 850ms; }
  .btn-lazers:hover {
    color: #15acd8; }
    .btn-lazers:hover::before {
      animation: lazers 1300ms infinite;
      animation-fill-mode: backwards;
      opacity: 1;
      transition: background-image 1200ms; }
    .btn-lazers:hover::after {
      animation: lazers 1300ms 270ms infinite;
      animation-fill-mode: backwards;
      opacity: 1;
      transition: background-image 1200ms; }
    .btn-lazers:hover #bg {
      opacity: 1; }
  .btn-lazers.active {
    color: #15acd8; }
    .btn-lazers.active::before {
      animation: lazers 1300ms infinite;
      animation-fill-mode: backwards;
      opacity: 1;
      transition: background-image 1200ms; }
    .btn-lazers.active::after {
      animation: lazers 1300ms 270ms infinite;
      animation-fill-mode: backwards;
      opacity: 1;
      transition: background-image 1200ms; }
    .btn-lazers.active #bg {
      opacity: 1; }

@keyframes lazers {
  from {
    left: -100%; }
  to {
    left: 100%; } }
.color-choice {
  height: 30px;
  width: 30px;
  cursor: pointer;
  list-style: none;
  transition: 100ms;
  position: relative; }
  .color-choice.round {
    border-radius: 15px; }
    .color-choice.round::after {
      border-radius: 15px; }
  .color-choice#blue-color {
    background: #15acd8; }
  .color-choice#red-color {
    background: #f91212; }
  .color-choice#green-color {
    background: #3ddf37; }
  .color-choice#yellow-color {
    background: #ddea13; }
  .color-choice:active {
    transform: scale(0.7); }
  .color-choice::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0); }
  .color-choice.active::after {
    animation: colorsBorder 500ms;
    animation-fill-mode: both; }

@keyframes colorsBorder {
  0% {
    transform: scale(2.4);
    border: 1px solid black; }
  60% {
    border: 5px solid black; }
  100% {
    transform: scale(1);
    border: 5px solid black; } }
#lazers-colors {
  display: flex;
  justify-content: space-between;
  padding: 0; }

.switch {
  position: relative;
  display: inline-block;
  min-width: 60px;
  height: 34px; }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s; }
  .slider.round {
    border-radius: 34px; }
    .slider.round:before {
      border-radius: 50%; }

#mainBtnSwitch:checked + .slider {
  background-color: #2196F3; }
  #mainBtnSwitch:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px); }
#mainBtnSwitch:focus + .slider {
  box-shadow: 0 0 1px #2196F3; }

#settingsControl {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

#activeControl {
  display: inline-flex; }

h2 {
  font-weight: bold;
  text-decoration: underline; }

hr {
  height: 2px;
  border-width: 0;
  color: gray;
  background-color: gray;
  width: 100%; }

.btn-box {
  margin-top: 20%; }
